
@{
    ViewBag.Title = "project";
}

<div class="CurrentDiv">
    <span itemprop="title" class="text-bold">@Model.FormTitle</span>
</div>

<h3 class="subtitle">
    Why project?
</h3>
<p class="pagedescription">
    Register on project and you will never miss a Tender, because it tracks more than 5 Million Tenders/ Annum which is highest in India and more than 100,000 subscription rely on the same. If not a registered member, register today.
</p>
<p class="pagedescription">
    We'll Provide you end to end solution for any Kind of tenders i.e Govt E - Marketplace,Semi Government, Non government Organization,Corporations or private sectors. we have subscription plans on annual basis for Tender Assistance.
    <br />
    Tender assistance is a skillful task, one must have the technical acumen & Document Eligibility to influence your chances for winning any kind of Tenders. We have just the right amount of expertise to help you put in your Bid and get you to the next level till bid submission successfully submitted. We have the necessary knowledge and experience to give you customized bidding solutions for your needs 24*7.
    <br />
    We are providing 24*7 help &support service to valued Customers.
</p>
<div class="pagedescription">
    <ul>
        <li>Get Tenders before others do</li>
        <li>Never miss a Tender</li>
        <li>No more Junk Tenders</li>
        <li>Bid decision made Quick & Easy</li>
        <li>Get Global Tenders' Information</li>
        <li>Get all types of Tender Documents</li>
    </ul>
</div>