
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" id="btnCountryList" onclick="loadList('@TenderAssist.CommonHelper.Utility.TenderTypeList.GlobalCountry');" type="button" data-toggle="dropdown">
        COUNTRY
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-class" id="ulCountryList"></ul>
</div>

