@model TenderAssist.ViewModel.TenderDetail

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" type="button" data-toggle="dropdown" id="btnTenderType">
        <span id="lblTenderType">TENDER TYPE</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @{
            var selectedTenderTypeText = "";
            var TenderTypeValue = 0;

            foreach (var item in (SelectList)ViewData["TenderType"])
            {
                if (Model.AdvanceSearchPara != null)
                {
                    if (Model.AdvanceSearchPara.TenderTypeId != null)
                    {
                        TenderTypeValue = Model.AdvanceSearchPara.TenderTypeId.Value;
                        if (item.Value == Model.AdvanceSearchPara.TenderTypeId.Value.ToString())
                        { selectedTenderTypeText = item.Text; }
                    }
                }
                <li><a href='javascript:void(0);' id='@item.Value' class='DisplayTenderType'> @item.Text </a></li>
            }
        }
    </ul>
</div>
@Html.Hidden("hdnTenderType", TenderTypeValue)
@Html.Hidden("hdnTenderTypeText", selectedTenderTypeText)
