<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" id="btnKeywordList" onclick="loadList('@TenderAssist.CommonHelper.Utility.TenderTypeList.Keyword');" type="button" data-toggle="dropdown">
        PRODUCTS
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-class" id="ulKeywordList"></ul>
</div>