<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="TenderAssistEntities" connectionString="metadata=res://*/Models.DBConnection.TenderAssist.csdl|res://*/Models.DBConnection.TenderAssist.ssdl|res://*/Models.DBConnection.TenderAssist.msl;provider=System.Data.SqlClient;&#xD;&#xA;        
      provider connection string=&quot;data source=103.133.214.251;initial catalog=TenderAssist;user id=sa;password=Ravi247@#$12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TenderAssistEntities" connectionString="metadata=res://*/Models.DBConnection.TenderAssist.csdl|res://*/Models.DBConnection.TenderAssist.ssdl|res://*/Models.DBConnection.TenderAssist.msl;provider=System.Data.SqlClient; 
      provider connection string=&quot;data source=103.133.214.142;initial catalog=TenderAdvisorDB;user id=sa;password=ORK$(%#%$jfur8374;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LocalTenderAssistEntities" connectionString="metadata=res://*/Models.DBConnection.LocalTenderAssist.csdl|res://*/Models.DBConnection.LocalTenderAssist.ssdl|res://*/Models.DBConnection.LocalTenderAssist.msl;provider=System.Data.SqlClient;         
      provider connection string=&quot;data source=103.133.214.142;initial catalog=TenderAdvisorDB;user id=sa;password=ORK$(%#%$jfur8374;Connection Timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
    </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DownloadDocumentUrl" value="https://www.TenderAssist247.com/" />

    <add key="IndianTenderUrl" value="/indian-tenders/tenders" />
    <add key="TenderByStateUrl" value="/indian-tenders/state-List/" />
    <add key="tenderByCityUrl" value="/indian-tenders/city-List/" />
    <add key="tenderByIndustryUrl" value="/indian-tenders/industry-List/" />
    <add key="tenderBySubIndustryUrl" value="/indian-tenders/subIndustry-List/" />        
    <add key="tenderByAgencyUrl" value="/indian-tenders/agency-List/" />
    <add key="tenderBySectorUrl" value="/indian-tenders/sector-List/" />
    <add key="tenderByOwnershipUrl" value="/indian-tenders/ownership-List/" />
    <add key="tenderByKeywordUrl" value="/indian-tenders/products/" />
    
    <add key="tenderByAdvSearchUrl" value="/tenders/Advance-Search-Tenders/" />
    <add key="tenderDetailUrl" value="/indian-tenders/bid-tenders-details/" />
    <add key="bidWithAssistUrl" value="/indian-tenders/bid-with-tenderAssist/" />
    <add key="result" value="/indian-tenders/result/" />
    <add key="project" value="/indian-tenders/project/" />

    <add key="GlobalTenderUrl" value="/global-tenders/tenders" />
    <add key="GlobalTenderKeywordUrl" value="/global-enders/products/" />
    <add key="TenderByMiddleEastCountryUrl" value="/global-tenders/middle-east-countries/" />
    <add key="TenderByEuropeanCountryUrl" value="/global-tenders/european-countries/" />
    <add key="TenderByAfricanCountryUrl" value="/global-tenders/african-countries/" />
    <add key="TenderByAsianCountryUrl" value="/global-tenders/asian-countries/" />
    <add key="TenderBySAARCountryUrl" value="/global-tenders/saar-countries/" />
    <add key="TenderByAustraliaOceaniaCountryUrl" value="/global-tenders/australia-oceania-countries/" />
    <add key="TenderBySouthAmericaCountryUrl" value="/global-tenders/south-america-countries/" />
    <add key="TenderByNorthAmericaCountryUrl" value="/global-tenders/north-america-countries/" />
    
    <add key="GlobalTenderDetailUrl" value="/global-tenders/global-tenders-details/" />
    
    <add key="DataPageSize" value="10" />
    <add key="IndiaCountryID" value="101" />
    <add key="SMTP_EmailId" value="tender@tenderassist247.com"></add>
    <add key="SMTP_Password" value="tender!@#123"></add>
    <add key="SMTP_Host" value="mail.tenderassist247.com"></add>
    <add key="SMTP_Port" value="25"></add>
    <add key="CCEmailId" value="feedback@tenderassist247.com"></add>
    <add key="Director_FromEmailId" value="inquiry@tenderassist247.com"></add>
    <add key="ProjectName" value="TenderAssist247.com"></add>
    <add key="SiteName" value="www.TenderAssist247.com"></add>
    <add key="SalesEMailToLink" value=""></add>
    <add key="SalesEMailId" value=""></add>
    <add key="CareEMailToLink" value=""></add>
    <add key="CareEMailId" value=""></add>
    <add key="ApplicationUrl" value="http://localhost:54000//"></add>
    <!--Contact Areas Start-->
    <add key="TotalContactAreas" value="5" />
    <add key="TotalContactArea_1" value="Support"></add>
    <add key="TotalContactArea_2" value="Banner Advertisement"></add>
    <add key="TotalContactArea_3" value="Complain"></add>
    <add key="TotalContactArea_4" value="Feed Back"></add>
    <add key="TotalContactArea_5" value="Others"></add>
    <add key="MerchantLogin" value="97971"></add>
    <add key="MerchantPass" value="145cf4d4"></add>
    <add key="TransactionType" value="NBFundtransfer"></add>
    <add key="ProductID" value="TENDER"></add>
    <add key="TransactionID" value="123"></add>
    <add key="TransactionCurrency" value="INR"></add>
    <add key="BankID" value="2001"></add>
    <add key="ReqHashKey" value="70a31b260e6fb9b5bb"></add>
    <add key="PayOnlineSuccessPageUrl" value="PayOnline-Status/"></add>
    <add key="PaymentUrl" value="https://payment.atomtech.in/paynetz/epi/fts" />
    <add key="TransferURL" value="[PaymentURL]?login=[MerchantLogin]pass=[MerchantPass]ttype=[TransactionType]prodid=[ProductID]amt=[TransactionAmount]txncurr=[TransactionCurrency]txnscamt=[TransactionServiceCharge]clientcode=[ClientCode]txnid=[TransactionID]date=[TransactionDateTime]custacc=[CustomerAccountNo]ru=[ru]signature=[signature]" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
   <!--<customErrors mode="On">
      <error statusCode="404" redirect="~/Error/Index" />
    </customErrors>--> 
    
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5.2" maxUrlLength="2000"  relaxedUrlToFileSystemMapping="true"  />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <!--<modules>
      
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>