@model TenderAssist.ViewModel.TenderDetail
@{
    var isStatePermission = Model.AllStateList.Any();
    var stateLinkId = "State_Link_" + Model.PermissionId;
    var statePanelId = "State_Panel_" + Model.PermissionId;
}
<div class="box">
    <div class="box-header">
        <span class="box-title categoryHeader">
          
            <i class="fa fa-check-circle text-success"></i>
            My States
             
        </span>
    </div>
    <div class="box-body">
        @if (isStatePermission)
        {
            <div id="@statePanelId"> 
                @{
                    var count = 0;
                    foreach (var item in Model.AllStateList)
                    {
                        <a href="#nogo" onclick="CategorySearch(@TenderAssist.CommonHelper.Utility.TenderTypeList.State,@item.StateId,@Model.PermissionId)">
                            @item.StateName
                        </a>
                        count++;
                        if (count != Model.AllStateList.Count)
                        {
                            <span>,</span>
                        }
                    }
                }
            </div>
                    } 
    </div>
</div>