
@{
    ViewBag.Title = "Index";
   
}


<div style="">
    <center><h1 class="text-danger"><em> 404 Page Not Found. </em></h1></center>
    <center><h2 class="text-danger"><em>An error occurred while processing your request.</em></h2></center>
    <center><img src="~/Images/404_ERROR.png" alt="Not found" width="600" height="300" /></center>
</div>
       