@using System.Globalization;
@using TenderAssist.CommonHelper;
@model TenderAssist.ViewModel.TenderDetail
@{
    var pagetitle = "";
    string newUrl, tenderWordName;
    newUrl = string.Empty;
    tenderWordName = string.Empty;
    switch (Model.TendersBy)
    {
        default://SEARCH
        case Utility.TenderTypeList.SearchTender:
            tenderWordName = Utility.TenderTypeDisplayText.Keyword;
            break;
        case Utility.TenderTypeList.MiddleEastCountryRegion:
            newUrl = Url.Action("TendersByMiddleEastCountry", "GlobalTenders");
            tenderWordName = Utility.TenderTypeDisplayText.DisplayMiddleEastCountryName;
            break;
        case Utility.TenderTypeList.EuropeanCountryRegion:
            newUrl = Url.Action("TendersByEuropeanCountry", "GlobalTenders");
            tenderWordName = Utility.TenderTypeDisplayText.DisplayEuropeanCountryName;
            break;
        case Utility.TenderTypeList.AfricanCountryRegion:
            newUrl = Url.Action("TendersByAfricanCountry", "GlobalTenders");
            tenderWordName = Utility.TenderTypeDisplayText.DisplayAfricanCountryName;
            break;
        case Utility.TenderTypeList.AsianCountryRegion:
            newUrl = Url.Action("TendersByAsianCountry", "GlobalTenders");
            tenderWordName = Utility.TenderTypeDisplayText.DisplayAsianCountryName;
            break;
        case Utility.TenderTypeList.SaarCountryRegion:
            newUrl = Url.Action("TendersBySaarCountry", "GlobalTenders");
            tenderWordName = Utility.TenderTypeDisplayText.DisplaySaarCountryName;
            break;
        case Utility.TenderTypeList.AustraliaOceaniaCountryRegion:
            newUrl = Url.Action("TendersByAustraliaOceaniaCountry", "GlobalTenders");
            tenderWordName = Utility.TenderTypeDisplayText.DisplayAustraliaOceaniaCountryName;
            break;
        case Utility.TenderTypeList.SouthAmericaCountryRegion:
            newUrl = Url.Action("TendersBySouthAmericaCountry", "GlobalTenders");
            tenderWordName = Utility.TenderTypeDisplayText.DisplaySouthAmericaCountryName;
            break;
        case Utility.TenderTypeList.NorthAmericaCountryRegion:
            newUrl = Url.Action("TendersByNorthAmericaCountry", "GlobalTenders");
            tenderWordName = Utility.TenderTypeDisplayText.DisplayNorthAmericaCountryName;
            break;
    }

    pagetitle = Model.FieldName == null ? "" : Model.FieldName.Replace("-", " ").Replace("Tenders", "") + " Tenders";
    pagetitle = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(pagetitle.ToLower());
    if (Model.TendersBy == Utility.TenderTypeList.SearchTender)
    { tenderWordName = tenderWordName + " -  " + pagetitle; }
}
<div class="breadcrumbgrid">
    <div class="row">
        <div class="col-md-12">
            <div class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <div class="CurrentDiv">
                    <a href="/" itemprop="url" style="text-decoration: none;">
                        <span itemprop="title">Home</span>
                    </a>
                </div>
                <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <div class="CurrentDiv">
                        <span class="seperator">›</span>
                    </div>
                    <div class="CurrentDiv">
                        <a href="@Url.Action("Tenders", "GlobalTenders")" itemprop="url" style="text-decoration: none;">
                            <span itemprop="title">Global Tenders</span>
                        </a>

                    </div>
                </div>
                @if (!string.IsNullOrEmpty(newUrl))
                {
                    <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <div class="CurrentDiv">
                            <span class="seperator">›</span>
                        </div>
                        <div class="CurrentDiv">
                            <a href="@newUrl" itemprop="url" style="text-decoration: none;">
                                <span itemprop="title">@tenderWordName</span>
                            </a>
                        </div>
                    </div>
                    <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <div class="CurrentDiv">
                            <span class="seperator">›</span>
                        </div>
                        <div class="CurrentDiv">
                            <span itemprop="title" class="text-bold">@pagetitle </span>

                        </div>
                    </div>
                }
                else
                {
                    <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <div class="CurrentDiv">
                            <span class="seperator">›</span>
                        </div>
                        <div class="CurrentDiv">
                            <span itemprop="title" class="text-bold">@tenderWordName </span>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

