@model  TenderAssist.ViewModel.TenderDetail
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                @Html.Partial("_partialInquiryForm", Model)
            </div>
            <div class="col-md-7">
                <h1 class="pagetitle">
                    @Model.FormTitle
                </h1>
                <p class="pagedescription">
                    Your search for getting Right Tender Information ends here. With over 30 Lac Indian Tenders/ RFQs /RFPs / Auctions being published by government, semi government departments, PSUs and private players from every corner of the country, we ensure that you don't miss any Tender of your category and get only relevant Tender Information on time.
                </p>
                <div class="pagedescription">
                    <ul>
                        <li>Tenders Alerts on Email, Web & Mobile App.</li>
                        <li>12,000+ Fresh Tenders added daily</li>
                        <li>Complete Information Tender Documents & Corrigendum</li>
                        <li>Classified tenders to ensure you get relevant tenders</li>
                        <li>1,00,000 + Registered Users</li>
                        <li>24 x 7 Support</li>
                    </ul>
                </div>
            </div>
            <div>                
            <iframe width="575" height="250" src="https://www.youtube.com/embed/5QUVqkd1jZ4?rel=0&showinfo=0&autoplay=1" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>


















































































































































