@{
    var DigitalSignatureUrl = Url.Action("DigitalSignature", "InquiryForms");
    var BidTenderGetAssistanceUrl = Url.Action("TenderAssist", "InquiryForms");
    var ISOConsultantUrl = Url.Action("ISOConsultant", "InquiryForms");
}
<div id="our-team">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            Buy Digital Certificate
                        </h3>
                        <p>
                            <i class="fa fa-mobile"></i>
                            +91-97247 00247
                        </p>
                        <p>
                            <i class="fa fa-envelope"></i>
                            sales@tenderassist247.com                            
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-info fa-2x icon"></i>
                    </div>
                    <a href="@DigitalSignatureUrl" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>       
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            Require Tender Assist
                        </h3>
                        <p>
                            For Tender Assistance
                            <br />
                            <i class="fa fa-mobile"></i>
                            +91-97247 00247
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user fa-2x icon"></i>
                    </div>
                    <a href="@BidTenderGetAssistanceUrl" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            ISO Consultant
                        </h3>
                        <p>
                            Krishit Technologies
                            <br />
                            Contact :
                            <i class="fa fa-mobile"></i>
                            +91-8511608809
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-laptop fa-2x icon"></i>
                    </div>
                    <a href="@ISOConsultantUrl" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</div>