@model  TenderAssist.ViewModel.TenderDetail
 
<div class="row">     
    <div class="col-md-12">        
        <div class="row">
            <div class="col-md-5">
                @Html.Partial("_partialInquiryForm", Model)
            </div>
            <div class="col-md-7">
                <h1 class="pagetitle">
                    @Model.FormTitle
                </h1>
                <p class="pagedescription">
                    Your search for getting Right Vendors/ Companies Information ends here. There are several of Companies who wish to participate in government, semi government departments, PSUs and private Tenders from every corner of the country, we ensure that you will get good result of Vendors for your need and get relevant Information from here. We’ll Host Your Requirement on our portal www.TenderAssist247.com as a free Tender so that you will get good response from the market. Also we can share your tender information to our all register and non register user via E-mail.
                </p>
                <div class="pagedescription">
                    <ul>
                        <li>Tenders Alerts on Email, Web & Mobile App.</li>
                        <li>12,000+ Fresh Tenders added daily</li>
                        <li>Complete Information Tender Documents & Corrigendum</li>
                        <li>Classified tenders to ensure you get relevant tenders</li>
                        <li>1,00,000 + Registered Users</li>
                        <li>24 x 7 Support</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>