
<div class="row">
    <div class="col-md-12">
        <div id="divTenderInfo">
            <div class="alert alert-danger alert-dismissible">
                <strong>Sorry!</strong> No Record Found.
            </div>
        </div>
    </div>
</div>