<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" id="btnIndustryList" onclick="loadList('@TenderAssist.CommonHelper.Utility.TenderTypeList.Industry');" type="button" data-toggle="dropdown">
        INDUSTRY
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-class" id="ulIndustryList"></ul>
</div>
