<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" id="btnOwnershipList" onclick="loadList('@TenderAssist.CommonHelper.Utility.TenderTypeList.Ownership');" type="button" data-toggle="dropdown">
        OWNERSHIP
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-class" id="ulOwnershipList"></ul>
</div>