@model TenderAssist.ViewModel.TenderDetail

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" type="button" data-toggle="dropdown" id="btnTenderValue">
        <span id="lblTenderValue">TENDER VALUE</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @{
            var selectedTenderValText = "";
            var TenderValType = 0;
        }
        @foreach (var item in (SelectList)ViewData["TenderValType"])
        {
            if (Model.AdvanceSearchPara != null)
            {
                if (Model.AdvanceSearchPara.TenderValFlag != null)
                {
                    TenderValType = Model.AdvanceSearchPara.TenderValFlag.Value;
                    if (item.Value == Model.AdvanceSearchPara.TenderValFlag.Value.ToString())
                    { selectedTenderValText = item.Text; }
                }
            }
            <li><a href='javascript:void(0);' id='@item.Value' class='DisplayTenderValue'> @item.Text </a></li>
        }
    </ul>
</div>
@Html.Hidden("hdnTenderValue", TenderValType)
@Html.Hidden("hdnTenderValueText", selectedTenderValText)