<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" id="btnSubIndustryList" onclick="loadList('@TenderAssist.CommonHelper.Utility.TenderTypeList.SubIndustry');" type="button" data-toggle="dropdown">
        SUB INDUSTRY
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-class" id="ulSubIndustryList"></ul>
</div>
