<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" id="btnSectorList" onclick="loadList('@TenderAssist.CommonHelper.Utility.TenderTypeList.Sector');" type="button" data-toggle="dropdown">
        SECTOR
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-class" id="ulSectorList"></ul>
</div>