<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" id="btnCityList" onclick="loadList('@TenderAssist.CommonHelper.Utility.TenderTypeList.City');" type="button" data-toggle="dropdown">
        LOCATION
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-class" id="ulCityList"></ul>
</div>