
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle selectButton" id="btnStateList" onclick="loadList('@TenderAssist.CommonHelper.Utility.TenderTypeList.State');" type="button" data-toggle="dropdown">
        STATE
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-class" id="ulStateList"></ul>
</div>

