<div class="row">
    <div class="col-md-12">
        <div class="mobimenu">
            <div class="logo">
                <a href="/">
                    <img src="~/Images/tenderadvisor.png" style="max-width: 150px;" alt="tenderadvisor" /></a>
            </div>
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">
                    <i class="fa fa-bars tbars"></i>
                </button>
            </div>
        </div>
    </div>
</div>
