<div class="container_fullMiddle">
    <div class="breadcrumbgrid">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <div class="CurrentDiv">
                        <a href="/" itemprop="url" style="text-decoration: none;">
                            <span itemprop="title">Home</span>
                        </a>
                    </div>
                    <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <div class="CurrentDiv">
                            <span class="seperator">›</span>
                        </div>
                        <div class="CurrentDiv">
                            <span itemprop="title" class="text-bold">About TenderAssist247</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div id="categories">
                <h1 class="pagetitle">
                    About TenderAssist247
                </h1>
                <p class="pagedescription">
                    TenderAssist247 have more than 10 Years experience to help organisations bid for Government & Public Sector tenders.
                </p>
                <br />
                <h3 class="subtitle">
                    Our Mission Statement is:-
                </h3>
                <p class="pagedescription">
                    To provide a customized solution to improving client opportunities to bid for and win Government & Public Sector contracts. Using our core values of experience and professionalism, we will help to create and deliver quality bid responses with integrity, honesty and a strong sense of responsibility.
                </p>
                <p class="pagedescription">
                    TenderAssist247 has developed a strong portfolio of products which offer our clients a carefully constructed path through the Government & public sector tendering process.
                </p>
                <p class="pagedescription">
                    From the formal release of the Contract Notice to the ultimate reward of Contract Award, we will help you through each stage of the process: – Tender Preparation Review, Daily Monitoring and Pre-qualification through to Invitation to Tender and Presentation Interview.
                </p>
                <p class="pagedescription">
                    We TenderAssist247 understand that every client has unique qualities to offer a Government & public sector organisation and we will ensure that those qualities are brought to the forefront in both the written and verbal bid.
                </p>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div> 

</div>
 