<div class="container_fullMiddle">
    <div class="breadcrumbgrid">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <div class="CurrentDiv">
                        <a href="/" itemprop="url" style="text-decoration: none;">
                            <span itemprop="title">Home</span>
                        </a>
                    </div>
                    <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <div class="CurrentDiv">
                            <span class="seperator">›</span>
                        </div>
                        <div class="CurrentDiv">
                            <span itemprop="title" class="text-bold">Privacy Policy</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div id="categories">
                <h1 class="pagetitle">
                    Privacy Policy
                </h1>
                <p class="pagedescription">
                    Tender Assist Technologies LLP (TATL) the owner of this website, has created this privacy statement in order to demonstrate our deep commitment to the privacy of our site, visitors and customers. As a company, we strictly adhere to all industry guidelines and we continually review our policy and procedures to ensure the safety and protection of our visitor and customer information. We request all the users of our website to go through this policy to understand how their personal & business information will be treated as they make full use of our services to their benefit.
                </p>
                <br />
                <h3 class="subtitle">
                    Registration:-
                </h3>
                <p class="pagedescription">
                    Where you are required to register before accessing a service, the information gathered is used for invoicing, issuing passwords, and for the occasional dispatch of information which may help you to make better use of our services. We will respect your email privacy, and no customer or visitor information will be passed on to third parties without your prior consent.
                </p>

                <h3 class="subtitle">
                    Renewals:-
                </h3>
                <p class="pagedescription">
                    We will do our best to provide content on TenderAssist247, however, we do not guarantee this and we accept no responsibility for any liability or any interruption or delay.
                </p>


                <h3 class="subtitle">
                    Refund Policy:-
                </h3>
                <p class="pagedescription">
                    Subscription Services CANNOT be cancelled and charges are non-refundable once your service duration has been passed over 7 day’s means you may ask us to refund within 7 working days after registration with valid reason. If we found that our Content and database are irrelevant for your business surely we’ll refund your amount.
                </p>
                <br />
                <br />
                <p class="pagedescription">
                    <b>
                        If you have any comments or concerns regarding our Privacy Policy, E Mail us On : sales@tenderassist247.com.
                    </b>
                </p>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
