<div class="container_fullMiddle">
    <div class="breadcrumbgrid">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <div class="CurrentDiv">
                        <a href="/" itemprop="url" style="text-decoration: none;">
                            <span itemprop="title">Home</span>
                        </a>
                    </div>
                    <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <div class="CurrentDiv">
                            <span class="seperator">›</span>
                        </div>
                        <div class="CurrentDiv">
                            <span itemprop="title" class="text-bold">Terms & Conditions</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div id="categories">
                <h1 class="pagetitle">
                    Terms & Conditions
                </h1>
                <p class="pagedescription">
                    These terms and conditions applicable to your use of Tender Assist Technologies LLP website - www.tenderassist247.com. Please read this page carefully.
                    <br />
                    We’ll Provide Services includes Indian Tender Information, Global Tenders, Projects Information, Tender Awarded Database(wherever applicable) Details, Tender Assistance etc Nationally & globally If you do not agree the Terms and Conditions, do not use this web site. If you do use the website, your interest shown on www.tenderassist247.com that you agree to be bound by the terms & conditions.
                </p>
                <br />

                <h3 class="subtitle">
                    Service Complaint:-
                </h3>
                <p class="pagedescription">
                    If you are dissatisfied with this policy, have queries about our data protection procedures or wish to lodge a complaint, please contact the company in the first instance. Thereafter you have the right to submit a complaint to the consumer Court or do legal process.
                </p>

                <h3 class="subtitle">
                    Website and Other Changes:-
                </h3>
                <p class="pagedescription">
                    We may, at any time, for any reason, without assigning such reason, without notice, make changes to the website, including its look, feel, format and content the Services provided through the website and these Terms of Use.TenderAssist247 continually make changes to improve the website and Services offered. In respect of any Subscription Services, we’ll ensure that it will not impact on our functionality.
                </p>


                <h3 class="subtitle">
                    Cancellation & Activation Policy:-
                </h3>
                <ul class="pagedescription">
                    <li>
                        You cannot claim refund for any typo error or late information or missed tender or for any missing information. We provide you information as it is published by tendering authority.
                    </li>
                    <li>
                        You have to fill up all mandatory field in subscription form i.e. email id, you company name, contact details, contact address etc., carefully. We cannot be held responsible for any wrong information entered by you. You will receive Login ID and Password and daily alert about fresh tender on you registered email id. You cannot claim refund If you don't receive any alert on your given email id then you should get it resolved from your networking team.
                    </li>
                    <li>
                        <ul>
                            <li>
                                Services will be activated within 24 Working hours after credited payment in our account
                            </li>
                            <li>
                                Products/Categories, Location/Region must be required properly to be activated services on time
                            </li>
                        </ul>
                    </li>
                    <li>
                        You will get the tender alert service via E mail and Web access.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
